body {
  color: white;
  background: black;
  /* background-image: url('../images/background-dark-1.png'); */
}

p {
  font-size: 1.5rem;
}

.container {
  display: block;
  max-width: 720px;
  margin: 0 auto;
}

.parameters {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
  margin: 20px auto;
}

.slider {
  width: 100%;
}

.oscillator-type, .amp-env, .filter {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.amp-env label, .amp-env span, .filter label, .filter span {
  display: inline-block;
}

.label-container {
  display: flex;
  width: 100%;
}

.label-container span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.slider-container input {
  width: 100%;
}