body {
  color: white;
  background: black;
  background-image: url('../images/background-dark-1.jpg');
}

.container {
  display: block;
  max-width: 720px;
  margin: 0 auto;
}

#pad {
  position: relative;
  width: 100%;
  /* aspect-ratio: 1/1; */
  margin: 20px auto;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  backdrop-filter: blur(12px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 12px;
}

#pad:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

#pad:hover {
  background-color: rgba(240, 240, 240, 0.55);
}

#puck {
  position: absolute;
  transform: translate(-50%, -50%);
  transition: width 0.2s ease 0s, height 0.2s ease 0s;
  background-color: black;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  pointer-events: none;
}

#pad:hover #puck {
  background-color: rgb(56, 51, 237);
  width: 40px;
  height: 40px;
}